@using Web.Storage.Models
@model Category

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Category</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DisplayOrder"></label>
			<input asp-for="DisplayOrder" class="form-control" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="News"></label>
			<input asp-for="News" class="form-control" />
			<span asp-validation-for="News" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Source"></label>
			<input asp-for="Source" class="form-control" />
			<span asp-validation-for="Source" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Country"></label>
			<input asp-for="Country" class="form-control" />
			<span asp-validation-for="Country" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:160px">
			Back To List
		</a>
	</div>
</form>